body {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #C6E1F5;
}

a {
    text-decoration: none;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #5F6C75;
}

.Bar {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    background-color: inherit;
}

.Visu {
    position: fixed;
    top: 250px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    list-style: none;
    background-color: #B2C9DB;
    padding: 0 0 20px 20px;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    flex-direction: row;
    font-size: 20px;
    color: #DDDDDD;
}

nav li {
    margin: 0 50px 0 0;
}

.Tournee {
    width: 78%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    flex-direction: column;
}

.editV {
    width: 2%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-direction: column;
}

.agenda {
    padding: 0px;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    flex-direction: column;
    border: 1px solid black;
}

.Visu commande {
    width: 25%;
    height: 98%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    flex-direction: column;
}

.editH {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-direction: row;
}

.OSM {
    width: 85%;
    height: 100%;
    margin: 0 0 0 50px;
    background-color: #B5EF9E;
}

.fa-solid {
    font-size: 30px;
}

.login {
    width: 100%;
    height: 100%;
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    background-color: #000000;

}

.LogForm {
    width: 20%;
    height: 50%;
    z-index: 10;
    position: absolute;
    top: 25%;
    left: 40%;
    background-color: #B2C9DB;
    border: 1px solid gray;
    shadow: 0 0 10px black;
    border-radius: 15px;
    padding: 10px;
    opacity: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

* {box-sizing: border-box;}

.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    padding: 10px;
    background: #5F6C75;
    color: white;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: 16px;
}

.input-field:focus {
    border: 2px solid #5F6C75;
}

.btn {
    background-color: #5F6C75;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: 16px;
    text-align: center;
}

.btn:hover {
    opacity: 1;
    transition: 0.3s opacity ease-in-out;
}

.check-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 18px;
}

.check {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.check input {
    margin-right: 5px;
    width: 30px;
}

.AddForm select {
    margin-bottom: 15px;
}

.AddForm {
    width: 40%;
    max-height: 80%;
    z-index: 10;
    position: absolute;
    top: 10%;
    left: 30%;
    background-color: #B2C9DB;
    border: 1px solid gray;
    shadow: 0 0 10px black;
    border-radius: 15px;
    padding: 25px 5rem;
    opacity: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}